node_modules
coverage
gamey/target
lcov.info
docs/build
.env
webapp/.env
.vscode/
gateway/certs
gateway/letsencrypt/archive/
gateway/letsencrypt/live/
gateway/letsencrypt/renewal/
.DS_Store
repomix-output.xml
